body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background-color: #ebb2f7;
    padding: 50px 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    margin: 0 0 20px;
    font-size: 24px;
    color: #390144;
    text-align: center;
}

#todo-form {
    display: flex;
    justify-content: space-between;
}

#todo-input {
    width: calc(100% - 30px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

#todo-form button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

#todo-form button:hover {
    background-color: #d400ff;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

li.completed {
    text-decoration: line-through;
    color: #aaa;
}

li button {
    background-color: transparent;
    border: none;
    color: #d9534f;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}